@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Challenge 1</h1>
    <h2>Actual Server Time</h2> <!--Actual Custom h2 Tag-->
    <h3>@DateTime.Now</h3>
    <br />
    <br />
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h4>Custom h4 tag</></h4>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
    <h6>Random h6 tag</></h6>
    <h2>Custom h2 tag</></h2>
    <h2>Custom h2 tag</></h2>
</div>
